<ul ngbNav #nav="ngbNav" class="nav-tabs" >
  <li ngbNavItem>
    <a routerLink="/login" ngbNavLink>Login</a>
    <ng-template ngbNavContent>Login content</ng-template>
  </li>
  <li ngbNavItem>
    <a routerLink="/cursos" [queryParams]="{pagina:1}"  ngbNavLink>Cursos</a>
    <ng-template ngbNavContent>Cursos content</ng-template>
  </li>
  <!--<li  ngbNavItem>
    <a [routerLink]="['curso', idCurso.value]"  ngbNavLink>Curso com id</a>
    <ng-template ngbNavContent>Curso content</ng-template>
  </li>-->
  <li  ngbNavItem>
    <a routerLink="/alunos"  ngbNavLink>Alunos</a>
    <ng-template ngbNavContent>Alunos content</ng-template>
  </li>
  <li ngbNavItem>
    <a routerLink="" ngbNavLink>Home</a>
    <ng-template ngbNavContent>Pagina de casa</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" *ngIf="mostrarMenu"></div>

<div class="container">
 <!-- <p>Entre com o id do curso</p><input #idCurso>-->
  <router-outlet></router-outlet>
</div>
